<div class='privacy'>

  <div class="privacy-container">

    <!-- Text 1 -->
    <div class="col-md-6">
      <a class='link' href="#" aria-label="Más información sobre cómo protegemos tu privacidad">
        Cómo cuidamos tu privacidad
      </a>
      <span class='span'>Copyright &copy; 2023-2024 Photeala S.R.L.</span><br>
      <span class='span'>Powered by <a class='link' href="https://www.wearezeaze.com" target="_blank"
          rel="noopener noreferrer">ZEAZE</a></span>
    </div>

    <!-- Text 2 -->
    <div class="col-md-6 text-md-end">
      <span class='span '>Protegido por</span>
      <a class='link ' href="#" aria-label="Enlace a información sobre reCAPTCHA, privacidad y condiciones">
        reCAPTCHA Privacidad Condiciones
      </a>
    </div>

  </div>
</div>