<!-- Section 05 -->
<div class="section_05 d-flex flex-column">

  <div
    class="section-container d-flex flex-column justify-content-center align-items-center flex-md-row text-center md-row justify-content-md-between">

    <!-- Text -->
    <div class="text text-center px-3">
      <!-- Title -->
      <h1 class="h1 mb-4">Gana con tus fotografías en tres simples pasos</h1>

      <!-- Text Content -->
      <div class="text-content d-flex align-items-start flex-column gap-4">

        <!-- Text Item 1 -->
        <div class="content-item d-flex justify-content-center align-items-center text-start md-text-center">
          <img src="./images/section_05/person.png" alt="Ícono de usuario registrándose" class="me-3">
          <span>Regístrate, empieza a gestionar tus colecciones y álbumes.</span>
        </div>

        <!-- Text Item 2 -->
        <div class="content-item d-flex justify-content-center align-items-center text-start md-text-center">
          <img src="./images/section_05/cloud-check.png" alt="Ícono de nube con un check" class="me-3">
          <span>Organiza tus pedidos en la nube<br>y comunica detalles directamente con tus clientes.</span>
        </div>

        <!-- Text Item 3 -->
        <div class="content-item d-flex justify-content-center align-items-center text-start md-text-center">
          <img src="./images/section_05/shop.png" alt="Ícono de tienda online" class="me-3">
          <span>Vende y entrega tus fotos online de manera segura y profesional.</span>
        </div>
      </div>
    </div>

    <!-- Image -->
    <div class="image-container px-3">
      <img class="img-fluid mobile-only mt-4 mb-2" src="./images/section_05/mobile.png"
        alt="Vista móvil de la plataforma">
      <img class="img-fluid desktop-only" src="./images/section_05/image.png"
        alt="Vista completa de la plataforma en desktop">
    </div>

    <!-- Button -->
    <button class="btn-orange mobile-only">Empezar gratis</button>
  </div>
</div>