<!-- Section 02 -->
<div class='section_02  d-flex flex-column flex-md-row justify-content-center align-items-center'>

  <div class='section-container'>

    <!-- Desktop -->
    <div class='desktop-only d-flex align-items-center justify-content-center text-center gap-4 flex-wrap'>
      <!-- Video -->
      <div class='desktop-video-container col-6 col-md-12'>
        <div class='popover'>
          <img class='img img-fluid' src="./images/section_02/popover.png" alt="">
        </div>
        <div class='lines'>
          <img class='img img-fluid' src="./images/section_02/lines.png" alt="">
        </div>
        <div class='ellipse'>
          <img class='img img-fluid' src="./images/section_02/ellipse.png" alt="">
        </div>
        <div class='frame'>
          <img class='img img-fluid' src="./images/section_02/frame.png" alt="">
        </div>
        <div class='video-frame'>
          <iframe width="360" height="200" src="https://www.youtube.com/embed/gjosiua5MHM?si=-adGmygeF7uw1s7l"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>


      <!-- Text -->
      <div class='desktop-section-text col-6 col-md-12 p-5 p-md-0'>
        <h1 class='h1 mb-4'>Únete a Photeala, y organiza tu negocio con facilidad</h1>
        <h6 class='h6_mobile mb-4'>Sumate a los fotógrafos que mejoraron su forma de trabajar</h6>
        <!-- Buttons -->
        <div class='d-flex flex-column  gap-2 flex-sm-row'>
          <button class='btn btn-white' aria-label="Ver el testimonio de los usuarios de Photeala">
            <img src="./images/section_02/icon-wrapper-h.png" alt="Ícono de reproducción de video">
            Ver testimonio
          </button>
          <button class='btn btn-orange' aria-label="Empezar a usar Photeala ahora">Empezar ahora</button>
        </div>
      </div>

    </div>



    <!-- Mobile -->
    <div
      class='mobile-only d-flex flex-column section-text col-12 justify-content-center align-items-center text-center gap-4'>
      <div class='mobile-section-text'>
        <h1 class='h1 mb-4'>Únete a Photeala, y organiza tu negocio con facilidad</h1>
        <h6 class='h6_mobile mb-4'>Sumate a los fotógrafos que mejoraron su forma de trabajar</h6>
      </div>

      <!-- Tablet-Mobile -->
      <div class='video-frame-mobile'>
        <iframe width="360" height="200" src="https://www.youtube.com/embed/gjosiua5MHM?si=-adGmygeF7uw1s7l"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <!-- Buttons -->
      <div class='mobile-section-buttons d-flex flex-column  gap-2 flex-sm-row'>
        <button class='btn btn-white' aria-label="Ver el testimonio de los usuarios de Photeala">
          <img src="./images/section_02/icon-wrapper-h.png" alt="Ícono de reproducción de video">
          Ver testimonio
        </button>
        <button class='btn btn-orange' aria-label="Empezar a usar Photeala ahora">Empezar ahora</button>
      </div>
    </div>

  </div>

</div>