<!-- Section 01 -->
<div class="section_01 d-flex flex-column flex-md-row justify-content-center align-items-center">

  <!-- Contenedor General -->
  <div class="d-flex flex-column align-items-center flex-lg-row w-100 justify-content-between">

    <!-- Text -->
    <div
      class="text-container col-12 col-md-6 text-center px-1 py-0 text-lg-start d-flex flex-column justify-content-center align-items-center align-items-lg-start gap-2 flex-grow-1 px-md-2 gap-lg-3 px-lg-5">
      <h1 class="h1">La plataforma ideal <br>para fotógrafos de <br> eventos y turismo</h1>
      <h6 class="h6_mobile">Organiza pedidos, vende a clientes y muestra tu trabajo en un solo lugar</h6>
      <div class="d-flex gap-2 justify-content-center justify-content-md-start">
        <!-- Sólo Mobile -->
        <button class="mobile-only btn btn-white" aria-label="Conocer más sobre la plataforma Photela">Conocer
          más</button>
        <!-- Siempre Visible -->
        <button class="btn btn-orange" aria-label="Empezar gratis en Photela">Empezar gratis</button>
      </div>
    </div>

    <!-- Animation -->
    <div class="animation-container col-12 col-md-6 d-flex justify-content-center align-items-center flex-grow-1">
      <div class="animation" #lottieContainer></div>
    </div>
  </div>
</div>
