<!-- Header -->
<header class="header-container">

  <div class='navbar-content'>
    <!-- Right: Navigation -->
    <nav class="navbar p-3 navbar-expand-md">

      <!-- Left: Logo -->
      <div class='logo-section'>
        <img src="./images/Photela_logotipo.png" alt="Logotipo de Photela" class="img-fluid photeala_logotipo" />
      </div>

      <!-- Toggler button para mobile/tablet -->
      <button class="menu navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Abrir menú de navegación">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse nav-header" id="navbarNav">
        <ul class="nav-menu navbar-nav ms-auto">

          <!-- Enlace siempre visible -->
          <li class="nav-item d-flex align-items-center">
            <a href="#" class="nav-link py-2 px-3 links">Inicio</a>
          </li>

          <!-- Enlaces para Desktop -->
          <li class="nav-item d-flex align-items-center desktop-only">
            <a href="#" class="nav-link py-2 px-3 links">Quiénes somos</a>
          </li>
          <li class="nav-item d-flex align-items-center desktop-only">
            <a href="#" class="nav-link py-2 px-3 links">Ingresa</a>
          </li>

          <!-- Button -->
          <li class="nav-item d-flex align-items-center desktop-only">
            <a href="#" class="nav-link p-0">
              <button class="btn btn-account" aria-label="Crear tu cuenta en Photela">Crea tu cuenta</button>
            </a>
          </li>

          <!-- Enlaces para Mobile -->
          <li class="nav-item d-flex align-items-center mobile-only">
            <a href="#" class="nav-link links">Solución</a>
          </li>
          <li class="nav-item d-flex align-items-center mobile-only">
            <a href="#" class="nav-link links">Ayuda</a>
          </li>
          <li class="nav-item d-flex align-items-center mobile-only mt-5 mb-3">
            <a href="#" aria-label="Visítanos en Instagram">
              <img class='img me-2' src="./images/icon_instagram.png" alt="Ícono de Instagram">
            </a>
            <a href="#" aria-label="Visítanos en Facebook">
              <img class='img' src="./images/icon_facebook.png" alt="Ícono de Facebook">
            </a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>