<!-- Section -->
<div class='section_04 d-flex flex-column'>

  <!-- Subsection 01 -->
  <div class="subsection d-flex flex-column flex-md-row justify-content-between align-items-center sm-gap-4">

    <!-- Text -->
    <div class="text-container-wrapper d-flex justify-content-center align-items-center col-12 col-md-6">
      <div class="text-container d-flex flex-column gap-4 p-4">

        <!-- Icon + Title -->
        <div
          class="text-header d-flex flex-column justify-content-between align-items-start gap-4 flex-md-row align-items-md-center justify-content-md-center">
          <img class="icon" src="./images/section_04/shield-check.png" alt="Ícono de seguridad con un escudo y check">
          <h2>Portafolio digital con acceso seguro para clientes</h2>
        </div>

        <!-- Paragraph -->
        <div class="paragraph mb-4 d-flex justify-content-center align-items-center flex-md-column">
          <h6 class="h6_mobile">Exhibe tu trabajo de manera profesional, permite que tus clientes revisen y seleccionen
            sus fotos favoritas con facilidad.</h6>
        </div>
      </div>
    </div>

    <!-- Image -->
    <div class="image-container col-12 col-md-6">
      <img class="img-fluid image1  " src="./images/section_04/img1.png" alt="Portafolio digital seguro mostrando fotos">
    </div>
  </div>

  <!-- Subsection 02 -->
  <div class="subsection d-flex flex-column justify-content-between align-items-center sm-gap-4 flex-md-row-reverse">

    <!-- Text -->
    <div class="text-container-wrapper d-flex justify-content-center align-items-center col-12 col-md-6">
      <div class="text-container d-flex flex-column gap-4 p-4">

        <!-- Icon + Title -->
        <div
          class="text-header d-flex flex-column justify-content-between align-items-start gap-4 flex-md-row align-items-md-center justify-content-md-center">
          <img class="icon" src="./images/section_04/camera.png" alt="Ícono de cámara profesional">
          <h2>Gestión profesional para fotógrafos</h2>
        </div>

        <!-- Paragraph -->
        <div class="paragraph mb-4 d-flex justify-content-center align-items-center flex-md-column">
          <h6 class="h6_mobile">Recibe, organiza y actualiza pedidos en una plataforma diseñada para maximizar tu tiempo
            y enfoque creativo.</h6>
        </div>
      </div>
    </div>

    <!-- Image -->
    <div class="image-container col-12 col-md-6">
      <img class="img-fluid image2 " src="./images/section_04/img2.png"
        alt="Interfaz de gestión de pedidos fotográficos">
    </div>
  </div>

  <!-- Subsection 03 -->
  <div class="subsection d-flex flex-column flex-md-row justify-content-between align-items-center sm-gap-4">

    <!-- Text -->
    <div class="text-container-wrapper d-flex justify-content-center align-items-center col-12 col-md-6">
      <div class="text-container d-flex flex-column gap-4 p-4">

        <!-- Icon + Title -->
        <div
          class="text-header d-flex flex-column justify-content-between align-items-start gap-4 flex-md-row align-items-md-center justify-content-md-center">
          <img class="icon" src="./images/section_04/cart.png" alt="Ícono de carrito de compras">
          <h2>Vende tus fotos de manera segura</h2>
        </div>

        <!-- Paragraph -->
        <div class="paragraph mb-4 d-flex justify-content-center align-items-center flex-md-column">
          <h6 class="h6_mobile">Asegura tus ventas y establece precios justos. Accede a pagos seguros y simplifica la
            entrega de tus fotos.</h6>
        </div>
      </div>
    </div>

    <!-- Image -->
    <div class="image-container col-12 col-md-6">
      <img class="img-fluid image3 " src="./images/section_04/img3.png"
        alt="Plataforma segura para vender fotos en línea">
    </div>
  </div>

</div>
