<div
  class="section_08 d-flex flex-column flex-md-row justify-content-center align-items-center text-center gap-2 py-4 py-md-0">

  <div
    class="text-container d-flex flex-column justify-content-center align-items-center gap-4 flex-lg-row text-center ">

    <!-- Mobile (text + btn) -->
    <div class="mobile-only d-block d-md-none p-2 p-md-0">
      <h1 class="h1 " id="join-us-heading">Únete a Photeala y organiza tu negocio con facilidad</h1>
      <h6 class="h6_mobile">
        Súmate a los fotógrafos que mejoraron su forma de trabajar
      </h6>
      <button class="btn btn-orange mt-2" aria-label="Comienza ahora con Photeala">Empezar ahora</button>
    </div>

    <!-- Animation -->
    <div class="img-container col-12 col-md-6" #lottieContainer></div>

    <!-- Desktop (text + btn) -->
    <div class="desktop-only d-none d-md-block col-12 col-md-6 p-4">
      <div class="d-flex flex-column justify-content-between align-items-center">
        <h1 class="h1" id="simplify-service-heading">Simplifica y expande tu servicio de fotografía</h1>
        <h6 class="h6_mobile">
          Olvídate del desorden y accede a herramientas profesionales que harán crecer tu negocio
        </h6>
        <button class="btn btn-orange mt-2" aria-label="Regístrate ahora en Photeala">Registrarme ahora</button>
      </div>
    </div>

  </div>
</div>