.main-container {
  width: 100vw;
  padding: 16px;
}

@media (width > 768px) {
  .main-container {
    max-width: var(--max-main);
    padding: 8px;
    gap: 8px;
  }
}

@media (width > 1199px) {
  .main-container {
    padding: 4px;
  }
}
