<!-- Section 06 -->
<div class="section_06">

  <div class="section-container">

    <!-- Section Header -->
    <div class="section-header">
      <h1>Nuestros planes</h1>
    </div>

    <!-- Contenedor deslizable de las Cards -->
    <div class="cards-container gap-3 overflow-x-auto p-4" aria-label="Planes disponibles">

      <!-- Card 01 -->
      <div class="card" aria-labelledby="plan-basico">
        <!-- Card Header -->
        <div class="header-card">
          <h4 id="plan-basico">Básico</h4>
        </div>

        <!-- Select -->
        <div class="type-select pb-3">
          <label for="user-select-basic" class="visually-hidden">Selecciona el número de usuarios</label>
          <span class="type">Tipo</span>
          <select id="user-select-basic" class="form-select" aria-label="Seleccionar cantidad de usuarios">
            <option selected>1 usuario</option>
            <option value="1">2 usuarios</option>
            <option value="2">3 usuarios</option>
            <option value="3">4 usuarios</option>
            <option value="4">5 usuarios</option>
          </select>
        </div>

        <!-- Prices -->
        <div class="prices d-flex ">
          <div class="d-flex justify-content-between align-items-end">
            <h2 class="m-0">$16.900 <span class="mes">/mes</span></h2>
          </div>
          <div class="d-flex justify-content-center align-items-end">
            <h2 class="m-0"><span class="anual">$202.800/ anual</span></h2>
          </div>
        </div>

        <!-- Button -->
        <div class="button-container d-flex flex-column align-items-center">
          <button class="plan-btn-gray" aria-label="Iniciar con el plan Básico gratis">Comienza con el plan
            gratis</button>
          <span class="btn-span">No necesita tarjeta de crédito</span>
        </div>

        <!-- Details -->
        <div class="details">
          <ul class="d-flex p-0 justify-content-between align-items-start" aria-label="Beneficios del plan Básico">
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">2 GB disponibles
              en la nube</li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Lorem ipsum</li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Lorem ipsum</li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Soporte técnico
            </li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Autocompletar
            </li>
          </ul>
        </div>
      </div>


      <!-- Card 02 -->
      <div class="card card-selected" aria-labelledby="plan-pro">
        <!-- Card Header -->
        <div class="header-card">
          <h4 id="plan-pro">Pro</h4>
        </div>

        <!-- Select -->
        <div class="type-select">
          <label for="user-select-pro" class="visually-hidden">Selecciona el número de usuarios</label>
          <span class="type">Tipo</span>
          <select id="user-select-pro" class="form-select" aria-label="Seleccionar cantidad de usuarios">
            <option selected>1 usuario</option>
            <option value="1">2 usuarios</option>
            <option value="2">3 usuarios</option>
            <option value="3">4 usuarios</option>
            <option value="4">5 usuarios</option>
          </select>
        </div>

        <!-- Prices -->
        <div class="prices d-flex ">
          <div class="d-flex justify-content-between align-items-end">
            <h2 class="m-0">$16.900 <span class="mes">/mes</span></h2>
          </div>
          <div class="d-flex justify-content-center align-items-end">
            <h2 class="m-0"><span class="anual">$202.800/ anual</span></h2>
          </div>
        </div>



        <!-- Button -->
        <div class="button-container d-flex flex-column align-items-center">
          <button class="plan-btn-orange" aria-label="Iniciar con el plan Pro gratis">Comienza con el plan
            gratis</button>
          <span class="btn-span">No necesita tarjeta de crédito</span>
        </div>

        <!-- Details -->
        <div class="details">
          <ul class="d-flex p-0 justify-content-between align-items-start" aria-label="Beneficios del plan Pro">
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">2 GB disponibles
              en la nube</li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Lorem ipsum</li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Lorem ipsum</li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Soporte técnico
            </li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Autocompletar
            </li>
          </ul>
        </div>
      </div>

      <!-- Card 03 -->
      <div class="card" aria-labelledby="plan-premium">
        <!-- Card Header -->
        <div class="header-card">
          <h4 id="plan-premium">Premium</h4>
        </div>

        <!-- Select -->
        <div class="type-select">
          <label for="user-select-premium" class="visually-hidden">Selecciona el número de usuarios</label>
          <span class="type">Tipo</span>
          <select id="user-select-premium" class="form-select" aria-label="Seleccionar cantidad de usuarios">
            <option>1 usuario</option>
            <option value="1">2 usuarios</option>
            <option value="2">3 usuarios</option>
            <option value="3">4 usuarios</option>
            <option selected value="4">5 usuarios</option>
          </select>
        </div>

        <!-- Prices -->
        <div class="prices d-flex ">
          <div class="d-flex justify-content-between align-items-end">
            <h2 class="m-0">$25.900 <span class="mes">/mes</span></h2>
          </div>
          <div class="d-flex justify-content-center align-items-end">
            <h2 class="m-0"><span class="anual">$202.800/ anual</span></h2>
          </div>
        </div>


        <!-- Button -->
        <div class="button-container d-flex flex-column align-items-center">
          <button class="plan-btn-gray" aria-label="Iniciar con el plan Premium gratis">Comienza con el plan
            gratis</button>
          <span class="btn-span">No necesita tarjeta de crédito</span>
        </div>

        <!-- Details -->
        <div class="details">
          <ul class="d-flex p-0 justify-content-between align-items-start" aria-label="Beneficios del plan Premium">
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">2 GB disponibles
              en la nube</li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Lorem ipsum</li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Lorem ipsum</li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Soporte técnico
            </li>
            <li><img class="m-2" src="./images/section_06/check.png" alt="Icono verde de verificación">Autocompletar
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>